#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.table-row:nth-child(even) {
  background-color: rgb(238,238,238); 
}
.table-headings {
  color: rgb(10, 105, 220);
  padding: 10px 20px 10px 20px;
  display: "inline-block";
  vertical-align: "middle";
}
.btn {
  color: rgb(16, 97, 196);
  border: "none";
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: none;
  padding: 5;
  outline: none;
}
.btn:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); 
}
.btn:hover {
  background-color:rgb(237, 235, 235);
}
.table-el {
  border-top: 1px solid black;
  padding: 10px;
}
